.error_msg {
    color: red;
    font-size: 11px
}
.no-margin {
  margin: 0 !important; }
  body.no-bgbody {
  background-image: none; } 

  .common-home .typeheader-1 {
    margin-bottom: 7px !important;
}
@media (max-width: 767px) {
    header.typeheader-1 .search-header-w {
       margin-left: 10px !important; 
    margin-bottom: 0px !important;
    margin-top: -10px !important;
    }
   
}

@media (max-width: 767px){
header.typeheader-1 .search-header-w #sosearchpro .search {
    margin-left: 50px !important;
    width: 100px !important;
    left: -70px !important;
}
}
.yt-content-slide a img
{
    width: 100% !important;
    height: 400px !important;
}

@media (max-width: 767px){
header.typeheader-1 .search-header-w #sosearchpro .search input {
    width: 220px !important; 
    margin-top: -50px !important;
    margin-left: 50px;
}
}

@media (max-width: 767px){
header.typeheader-1 .search-header-w .icon-search {
    line-height: 10px !important;
    text-align: left !important;
}
}

@media (max-width: 767px){
header.typeheader-1 .search-header-w #sosearchpro .search button {
    left: 137px !important;
    width: 35px;
    margin-top: -50px !important;
}
header.typeheader-1 .shopping_cart {
    margin-top: -20px !important;
}
}

@media (min-width: 1200px){
.col-lg-10 {
     width: 100.33333333% !important; 
}
}

@media (min-width: 1200px){
.col-lg-5 {
    width: 100.66666667% !important;
}}

@media (min-width: 1200px) and (max-width: 1649px){
.typeheader-1 .bottom3 {
    width: 50% !important;
}}

.slider-brands .item {
     opacity: 10 !important; 
}

.typeheader-1 {
     background-color: #ffffff !important; 
}

.typeheader-1 .header-middle {
    background-color: #ffffff !important;
    padding: 0px !important;
}

.typeheader-1 ul.top-link > li .btn-group .btn-link {
    color: #232f3e !important;
}

.typeheader-1 .container-megamenu.horizontal ul.megamenu > li > a {
    color: #232f3e !important;
}
a:hover, .btn-link:hover {
    color: #fd7e14 !important;
    text-decoration: none;
}
.typeheader-1 .wishlist-comp li a:hover i {
    color: #fd7e14 !important;
}

.typeheader-1 .wishlist-comp li a.top-link-wishlist:hover:before, .typeheader-1 .wishlist-comp li a:hover i {
    color: #fd7e14 !important;
}

.typeheader-1 #sosearchpro .search input {
    border: 1px solid !important;
}

.typeheader-1 .wishlist-comp li a i {
    color: #232f3e !important;
}

.typeheader-1 .signin-w {
    color: #232f3e !important;
}
.typeheader-1 .signin-w ul li a {
    color: #232f3e !important;
}

.typeheader-1 .telephone ul li a {
   color: #232f3e !important;
}


.typeheader-1 .wishlist-comp li a.top-link-wishlist:before {
   color: #1c144c !important;
}
.typefooter-1 .footer-top {
    background-color: #1c144c !important;

}
.typefooter-1 .footer-bottom {
    background-color: #1c144c !important;
}
footer .copyright a {
    color: #fd7e14;
}
.typeheader-1 #sosearchpro .search button:hover {
    background-color: #1c144c !important;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
    background-color: #1c144c !important;
}
.typeheader-1 #sosearchpro .search button {
    background-color: #fd7e14 !important;
}

.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
    color: #fd7e14 !important;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_carts, .typeheader-1 .signin-w ul li a:hover {
    color: #fd7e14 !important;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button:hover {
    background-color: #fd7e14 !important;
}
footer .copyright a {
    color: #fd7e14 !important;
}
.left-content-product .content-product-right .box-info-product .cart input:hover {
    background: #1c144c !important;
}
.left-content-product .content-product-right .box-info-product .cart input {
    background: #fd7e14 !important;
}
.left-content-product .content-product-right .box-info-product .add-to-links ul li a:hover {
    border-color: #fd7e14 !important;
    color: #fd7e14 !important;
}
.producttab .tabsslider.vertical-tabs ul.nav-tabs li.active a {
    color: #fd7e14 !important;
}
.producttab .tabsslider.vertical-tabs ul.nav-tabs li.active {
    border-left-color: #fd7e14 !important;
}
.producttab .tabsslider.vertical-tabs ul.nav-tabs li:hover a {
    color: #1c144c !important;
}
.producttab .tabsslider.vertical-tabs ul.nav-tabs li:hover {
    border-left-color: #fd7e14 !important;
}
.producttab .tabsslider.vertical-tabs ul.nav-tabs li.active:before {
    background-color: #fd7e14 !important;
}
.producttab .tabsslider.vertical-tabs ul.nav-tabs li:hover:before {
    background-color: #1c144c !important;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button {
    background-color: #fd7e14 !important;
}
.typefooter-1 .module .modtitle:after {
    background-color: #fd7e14 !important;
}
.main-right .col2 {
    width: 100% !important;
} 

.error_msg {
    color: red;
    font-size: 11px
}
header.typeheader-1 .search-header-w .icon-search i {
    font-size: 18px;
    color: #000;
}


@media (max-width: 767px){
.megamenu-style-dev .navbar-default .horizontal .navbar-toggle {
  
   height: 0px !important;
}}

@media (max-width: 767px){
header.typeheader-1 .logo {
    text-align: center;
    height: 130px !important;
}}

.typeheader-1 ul.top-link > li > a {
    font-size: 12px;
     color: #000 !important; 
     width: 20% !important;
    padding-left: 3px;
}

@media (max-width: 767px){
.megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar {
    background: none #000;
    width: 20px;
    height: 2px;
    margin: 4px 0;
    border-radius: 0;
}}

.megamenu-style-dev .navbar-default .horizontal .navbar-header {
    margin-bottom: 30px !important;
}
.logout{
    font-size: 12px;
     color: #fd7e14 !important;
     width: 20% !important;
}
.slider-brands {
  margin-bottom: 0px !important; 
}