.error_msg {
    color: red;
    font-size: 11px
}


.no-margin {
  margin: 0 !important; }
  body.no-bgbody {
  background-image: none; } 

  .common-home .typeheader-1 {
    margin-bottom: 7px !important;
}
@media (max-width: 767px) {
    header.typeheader-1 .search-header-w {
       margin-left: 10px !important; 
    margin-bottom: 0px !important;
    margin-top: -50px !important;
    }
    .icon1{
        margin-top: 30px !important;
        margin-right: -500px !important;
    }
    .navbartoggles{
        margin-right: -140px;
    }
   
}

@media (max-width: 767px){
header.typeheader-1 .search-header-w #sosearchpro .search {
    margin-left: 50px !important;
    width: 100px !important;
    left: -70px !important;
}
}
.yt-content-slide a img
{
    width: 100% !important;
    height: 400px !important;
}

@media (max-width: 767px){
header.typeheader-1 .search-header-w #sosearchpro .search input {
    width: 290px !important; 
    margin-top: -20px !important;
    margin-left: 40px;
    
}
#search0{
    display: block !important;
}
}

@media (max-width: 767px){
header.typeheader-1 .search-header-w .icon-search {
    line-height: 80px !important;
    text-align: left !important;
}
}

@media (max-width: 767px){
header.typeheader-1 .search-header-w #sosearchpro .search button {
    left: 197px !important;
    width: 35px;
    margin-top: -20px !important;
}
header.typeheader-1 .shopping_cart {
    margin-top: 15px !important;
    margin-right: 10px !important;
}
ul .breadcrumb{
     margin: 5px 0 !important;
}
.navbar-logo .col-lg-2 .col-md-2 .col-sm-12 .col-xs-12 .logo img
{
    margin-top: -10px !important;
}
}


@media (min-width: 1200px){
.col-lg-10 {
     width: 100.33333333% !important; 
}
}

@media (min-width: 1200px){
.col-lg-5 {
    width: 100.66666667% !important;
}}

@media (min-width: 1200px) and (max-width: 1649px){
.typeheader-1 .bottom3 {
    width: 50% !important;
}}

.slider-brands .item {
     opacity: 10 !important; 
}

.typeheader-1 {
     background-color: #ffffff !important; 
}

.typeheader-1 .header-middle {
    background-color: #ffffff !important;
    padding: 0px !important;
}

.typeheader-1 ul.top-link > li .btn-group .btn-link {
    color: #232f3e !important;
}

.typeheader-1 .container-megamenu.horizontal ul.megamenu > li > a {
    color: #232f3e !important;
}
a:hover, .btn-link:hover {
    color: #fd7e14 !important;
    text-decoration: none;
}
.typeheader-1 .wishlist-comp li a:hover i {
    color: #fd7e14 !important;
}

.typeheader-1 .wishlist-comp li a.top-link-wishlist:hover:before, .typeheader-1 .wishlist-comp li a:hover i {
    color: #fd7e14 !important;
}

.typeheader-1 #sosearchpro .search input {
    border: 1px solid !important;
}

.typeheader-1 .wishlist-comp li a i {
    color: #232f3e !important;
}

.typeheader-1 .signin-w {
    color: #232f3e !important;
}
.typeheader-1 .signin-w ul li a {
    color: #232f3e !important;
}

.typeheader-1 .telephone ul li a {
   color: #232f3e !important;
}


.typeheader-1 .wishlist-comp li a.top-link-wishlist:before {
   color: #1c144c !important;
}
.typefooter-1 .footer-top {
    background-color: #1c144c !important;

}
.typefooter-1 .footer-bottom {
    background-color: #1c144c !important;
}
footer .copyright a {
    color: #fd7e14;
}
.typeheader-1 #sosearchpro .search button:hover {
    background-color: #1c144c !important;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
    background-color: #1c144c !important;
}
.typeheader-1 #sosearchpro .search button {
    background-color: #fd7e14 !important;
}

.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
    color: #fd7e14 !important;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_carts, .typeheader-1 .signin-w ul li a:hover {
    color: #fd7e14 !important;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button:hover {
    background-color: #fd7e14 !important;
}
footer .copyright a {
    color: #fd7e14 !important;
}
.left-content-product .content-product-right .box-info-product .cart input:hover {
    background: #1c144c !important;
}
.left-content-product .content-product-right .box-info-product .cart input {
    background: #fd7e14 !important;
}
.left-content-product .content-product-right .box-info-product .add-to-links ul li a:hover {
    border-color: #fd7e14 !important;
    color: #fd7e14 !important;
}
.producttab .tabsslider.vertical-tabs ul.nav-tabs li.active a {
    color: #fd7e14 !important;
}
.producttab .tabsslider.vertical-tabs ul.nav-tabs li.active {
    border-left-color: #fd7e14 !important;
}
.producttab .tabsslider.vertical-tabs ul.nav-tabs li:hover a {
    color: #1c144c !important;
}
.producttab .tabsslider.vertical-tabs ul.nav-tabs li:hover {
    border-left-color: #fd7e14 !important;
}
.producttab .tabsslider.vertical-tabs ul.nav-tabs li.active:before {
    background-color: #fd7e14 !important;
}
.producttab .tabsslider.vertical-tabs ul.nav-tabs li:hover:before {
    background-color: #1c144c !important;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button {
    background-color: #fd7e14 !important;
}
.typefooter-1 .module .modtitle:after {
    background-color: #fd7e14 !important;
}
.main-right .col2 {
    width: 100% !important;
} 

.error_msg {
    color: red;
    font-size: 11px
}
header.typeheader-1 .search-header-w .icon-search i {
    font-size: 18px;
    color: #000;
}


@media (max-width: 767px){
.megamenu-style-dev .navbar-default .horizontal .navbar-toggle {
  
   /* height: 0px !important; */
}}



@media (max-width: 767px){
header.typeheader-1 .logo {
    text-align: center;
    height: 130px !important;
    margin-top: 20px;
}
.top-link .list-inline .lang-curr1
{
    float: left !important;
}
.top-link .list-inline .hidden-lg .hidden-md{
    float: right !important;
}
}

.typeheader-1 ul.top-link > li > a {
    font-size: 12px;
     color: #000 !important; 
     width: 20% !important;
    padding-left: 3px;
}

@media (max-width: 767px){
.megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar {
    background: none #000;
    width: 20px;
    height: 2px;
    margin: 4px 0;
    border-radius: 0;
}}

.megamenu-style-dev .navbar-default .horizontal .navbar-header {
    margin-bottom: 30px !important;
}
.logout{
    font-size: 12px;
     color: #fd7e14 !important;
     width: 20% !important;
}
.slider-brands {
  margin-bottom: 0px !important; 
}

#map {
  height: 100%;
}
.textellipse{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page-login .well {
    min-height: 50px !important;

}
.producttab .tabsslider.vertical-tabs ul.nav-tabs {
    min-height: 0px;
  
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.num-block {
    float: left;
    width: 100%;
  padding: 15px 30px;
}
.typeheader-1 .header-top{
    /* background-color: #1c144c !important; */
}

/* skin 1 */
.skin-1 .num-in {
    float: left;
    width: 94px;}

.skin-1 .num-in span {
    display: block;
    float: left;
    width: 30px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.skin-1 .num-in span.dis:before {
  background-color: #ccc !important;
}

.skin-1 .num-in input {
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #6E6F7A;
    border-radius: 5px;
    color: #000;
    text-align: center;
    padding: 0;
}

.skin-1 .num-in span.minus:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #00A94F;
    top: 50%;
    left: 0;
}

.skin-1 .num-in span.plus:before, .skin-1 .num-in span.plus:after {
    content: '';
    position: absolute;
    right: 0px;
    width: 15px;
    height: 2px;
    background-color: #00A94F;
    top: 50%;
}

.skin-1 .num-in span.plus:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* / skin 1 */


/* skin 2 */
.skin-2 .num-in {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    height: 40px;
    width: 110px;
  float: left;
}

.skin-2 .num-in span {
  width: 40%;
  display: block;
  height: 40px;
  float: left;
  position: relative;
}

.skin-2 .num-in span:before, .skin-2 .num-in span:after {
  content: '';
  position: absolute;
  background-color: #667780;
  height: 2px;
  width: 10px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -5px;
}

.skin-2 .num-in span.plus:after {
  transform: rotate(90deg);
}

.skin-2 .num-in input {
        float: left;
        width: 20%;
        height: 40px;
        border: none;
        text-align: center;
}

/* / skin 2 */

/* skin 3 */
.skin-3 .num-in span {
    display: block;
    float: left;
    width: 25px;
    height: 34px;
    position: relative;
    cursor: pointer;
}

.skin-3 .num-in span.minus:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
    background-color: #000;
}

.skin-3 .num-in .in-num {
    float: left;
    width: 54px;
    height: 34px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
}

.skin-3 .num-in span.plus:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
    background-color: #000;
}

.skin-3 .num-in span.plus:after {
    content: '';
    position: absolute;
    height: 10px;
    width: 2px;
    left: 50%;
    top: 50%;
    margin-top: -5px;
    margin-left: -1px;
    background-color: #000;
}

/* / skin 3 */

/* skin 4 */

.skin-4 .num-in {
    float: left;
    width: 80px;
    padding: 8px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.skin-4 .in-num {
    width: 47px;
    float: left;
    height: 36px;
    font-size: 30px;
    text-align: center;
    outline: none;
}

.skin-4 .all-span {
    position: relative;
    float: right;
    width: 23px;
    height: 36px;
    border-left: 1px solid #000;
}

.skin-4 .all-span span {
    float: left;
    width: 100%;
    height: 18px;
    position: relative;
    cursor: pointer;
}

.skin-4 .all-span span:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -5px;
}

.skin-4 span.minus:before {
    top: 3px;
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.skin-4 span.minus.dis:before {
    opacity: 0.5;
}

.skin-4 span.plus:before {
    bottom: 3px;
    border-bottom: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;}

/* / skin 4 */

/* skin 5 */

.num-block.skin-5 {
}

.skin-5 .num-in {
  width: 88px;
  float: left;
    vertical-align: middle;
    position: relative;
    border: 1px solid #EEEFF1;
    border-radius: 3px;
}

.skin-5 .num-in:hover {
    border: 1px solid #4687FF;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(70, 135, 255, 0.75);
    -moz-box-shadow:    0px 0px 7px 0px rgba(70, 135, 255, 0.75);
    box-shadow:         0px 0px 7px 0px rgba(70, 135, 255, 0.75);
}

.skin-5 .num-in span {
    font-size: 16px;
    width: 20px;
    display: block;
    line-height: 41px;
}

.skin-5 .num-in span.minus {
    float: left;
    text-align: right;
}

.skin-5 .num-in input {
  border: none;
    height: 41px;
    width: 46px;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.skin-5 .num-in span.plus {
    float: right;
    text-align: left;
}

/* / skin 5 */

/* skin 6 */

.skin-6 .num-in {
  background-color: #333;
    float: left;
    width: 120px;
    height: 45px;
    padding: 3px 0;
    border-radius: 5px;
}

.skin-6 .num-in span {
    display: block;
    float: left;
    width: 34px;
    line-height: 39px;
    height: 39px;
    color: #fff;
  font-weight: bold;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3;
    -o-transition: all 0.3;
    transition: all 0.3;
}

.skin-6 .num-in span:hover {
    color: #fff !important;
}

.skin-6 .num-in input {
    float: left;
    height: 39px;
    width: 52px;
    border-radius: 5px;
    text-align: center;
}

/* / skin 6 */

/* skin 7 */

.skin-7 .num-in {
    float: left;
    width: 138px;
  border: 1px solid #a4a4a3;
}

.skin-7 input.in-num {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 14px;
    float: left;
    height: 32px;
    width: 83px;
    border-left: 1px solid #a4a4a3;
    border-right: 1px solid #a4a4a3;
    background-color: #fff;
    text-align: center;
}

.skin-7 .num-in span  {
    font-size: 24px;
    text-align: center;
    display: block;
    width: 46px;
    float: left;
    height: 32px;
    background-color: #f4f4f6;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.skin-7 .num-in span:hover {
    background-color: #d7d7d8;
}

.skin-7 .num-in input {
  border: none;
    float: left;
    width: 44px;
    line-height: 34px;
    text-align: center;
    font-family: 'helveticaneuecyrbold';
}

.ui-autocomplete {
    border-radius: 1px;
    border-style: ridge;
    background-color: #f5f5f5;
    padding: 10px;
    width: 150px;;
    font-family: 'ptmono';}
.ui-menu-item {
    border: 1px solid #eceff1;
    border-radius: 0.25rem;}
    .ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background-color: #eceff1;
    border-color: #eceff1;
    color: #0d47a1;
    }
/* / skin 7 */

.txt-heading {
	margin: 20px 0px;
	text-align: left;
    background: #cccccc;
    padding: 5px 10px;
    overflow: auto;
}

#shopping-cart .txt-heading {
	border-top: #607d8b 2px solid;
    background: #ffffff;
    border-bottom: #607d8b 2px solid;
}

.txt-heading-label {
	display: inline-block;
}

#shopping-cart .txt-heading .txt-heading-label{
	margin-top:5px;
}

.btnAddAction {
    padding: 3px 10px;
    cursor: pointer;
    border: #CCC 1px solid;
    background: #f3f0f0;
}

.cart-item {
	/* border-bottom: #79b946 1px dotted; */
	padding: 10px;
}

#product-grid {
	margin-bottom: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.product-item {
	display: inline-block;
	margin: 8px;
	border: #CCC 1px solid;
}

.product-title {
	position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 5px 0px;
    color: #f1f1f1;
}
.product-image {
	height: 110px;
	width:160px;
	position:relative;
}

.product-image img {
	width:100%;
    height: 110px;
}

.product-footer {
    padding: 20px 10px 10px;
    overflow: auto;
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}

.input-cart-quantity {
	padding: 6px;
    margin: 0;
    vertical-align: top;
    border: #CCC 1px solid;
    border-right: 0px;
}
.cart-info {
	text-align: right; 
	display:inline-block;
	width:15%;
}
.cart-info.title {
	width:50%;
	text-align: left; 
}
.cart-info.quantity {
    width: 90px;
    border: #ccc 1px solid;
}
.cart-info.price {
	min-width:20%;
	position:relative;
}
.cart-info.action {
	width: 5%;
    vertical-align: middle;
    float:right;
}
.cart-item-container {
	padding: 5px 10px;
    /* border-bottom: #e2e2e2 1px solid; */
}
.cart-status {
	color: #666;
    float: right;
    font-size: 0.8em;
    padding: 0px 10px;
    line-height: 18px;
} 
#btnEmpty img{
	margin-top:6px;
	cursor:pointer;
}

.cart-item-container.header {
	background: #CCC;
    border-bottom: #b9b8b8 1px solid;
}

.btn-increment-decrement {
    display: inline-block;
    padding: 5px 0px;
    background: #e2e2e2;
    width: 30px;
    text-align: center;
    cursor:pointer;
}

.input-quantity {
	border: 0px;
    width: 30px;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
 .radio {
    border: 1px solid !important;
    padding: 20px !important;
}

.typeheader-1 .lang-curr1 {
    float: left;
    margin-left: -40px !important;
}
.left-content-product .content-product-left .full_slider .owl2-nav div.owl2-prev, .left-content-product .content-product-left .not_full_slider .owl2-nav div.owl2-prev{
    background: url('image/icon/next-prev-detail.png') no-repeat;
}
.left-content-product .content-product-left .full_slider .owl2-nav div.owl2-prev, .left-content-product .content-product-left .not_full_slider .owl2-nav div.owl2-prev {
    border-color: #fd7e14 !important;
    background-color: #fd7e14 !important;
    background-position: 0px 0px !important;
    opacity: 1 !important;
}
.left-content-product .content-product-left .full_slider .owl2-nav div.owl2-next, .left-content-product .content-product-left .not_full_slider .owl2-nav div.owl2-next {
    background: url('image/icon/next-prev-detail.png') no-repeat;
    border-color: #fd7e14 !important;
    background-color: #fd7e14 !important;
    background-position: -107px 0px !important;
    opacity: 1 !important;
  
}   
.related .releate-products .owl2-nav div.owl2-prev {
    margin-top: 10px !important;
    background: url('image/icon/next-prev-detail.png') no-repeat;
    border-color: #fd7e14;
    background-color: #fd7e14;
    background-position: -4px 0px;
    opacity: 1;
}
.related .releate-products .owl2-nav div.owl2-next {
    margin-top: 10px !important;
    background: url('image/icon/next-prev-detail.png') no-repeat;
    border-color: #fd7e14;
    background-color: #fd7e14;
    background-position: -112px 0px;
    opacity: 1;
}
.box-info-product-rev{
    margin-left: 60px;
}
