
  .middle-arabic-left{
    margin-top: 20px !important;
}
@media (max-width: 767px) {
   
    .responsivelangbtn{
        margin-left: 170px !important;
    }
    .navbartoggles{
        margin-left: 180px !important;
    }
    .breadcrumbreverse {
        width: auto !important;
        float: right !important;
    }
    .addtocartrev{
        margin-left: -40px !important;
    }
}
.addtocartrev{
    margin-left: -10px !important;
}
.carticonreverse{
    margin-left: 20px !important;
}
.dropdownmenureverse{
    margin-right: -50px !important;
}
 .breadcrumbreverse{
    width:auto !important;
    float: right !important;
}
.productreverse{
    width: 40% !important;
    float: right !important;
}
.productviewrev .productlabelrev {
    float: right !important;
    margin-top: 20px !important;
    margin-left: 300px!important;
}
.title-product-reverse{
    float: right !important; 
}
.title-product-flipleft{
    float: left !important; 
}
.description-rev{
    float:right !important;text-align:right !important;
}
.textright{
    text-align:right !important;
}
.lockicon{
    margin-left: 20px !important;
}